*{
	overflow-x: clip;
	font-family:Microsoft JhengHei;
}

H1 {
	font-size: 6vmin;
}

p {
	margin-top: -6.2vmin;
	font-size: 4vmin;
	transform: rotateX(60deg) scale(1); 
}

#background {
  background-color: black !important;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
}

.foreground {
  padding-top: 8vmin;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#status {
	color: white !important;
	font-size: 4vmin;
	text-decoration: none;
	background: transparent;
	padding: 1.5vmin;
	border: 2px solid white !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

li {
  display: inline-block;
}

.card {
  height:  31.488vmin;
  width: 22.837vmin;
  transform: rotateX(60deg) scale(0.8); 
  transition: .5s all ease;
  z-index: 1;
  position:relative;
}

.card:hover, .card:active{
  transform:rotateX(60deg) translateY(10%) scale(0.8);
  transition: opacity 1s;
  height:  31.488vmin;
  width: 22.837vmin;
  transition: .5s all ease;
  z-index: 1;
  position:relative;
}

.card_reveal {
  height:  31.488vmin;
  width: 22.837vmin;
  transform: rotateX(60deg) scale(0.8); 
  transition: .5s all ease;
  z-index: 1;
  position:relative;
}

.card_reveal:hover, .card_reveal:active{
  height:  31.488vmin;
  width: 22.837vmin;
  cursor: pointer;
  transform: rotate(0deg) scale(1);
  transition: .5s all ease;
  z-index: 10;
  position:relative;
}

.scroll {
  perspective: 900px;
}

