*{
	overflow-x: clip;
	font-family:Microsoft JhengHei;
}

H1 {
	font-size: 6vmin;
}

#background {
  background-color: black !important;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
}

.foreground {
  padding-top: 8vmin;
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#status {
	color: white;
	font-size: 4vmin;
	text-decoration: none;
	background: transparent;
	padding: 1.5vmin;
	border: 0.2vmin solid transparent;
	display: inline-block;
	transition: .5s all ease;
	opacity: 0.8;
	z-index: -10;
}

#status:hover {
    cursor: pointer;
	border: 0.2vmin solid #DCDCDC;
	transition: .5s all ease;
	opacity: 1;
}

.loading {
   stroke-dashoffset: -480;
}

li {
  display: inline-block;
}

.card {
  height:  31.488vmin;
  width: 22.837vmin;
  transform: rotateX(60deg) scale(0.9); 
  transition: .5s all ease;
  z-index: 1;
  position:relative;
}

p {
	margin-top: -6.8vmin;
	font-size: 4vmin;
	transform: rotateX(60deg); 
	opacity: 0.8;
    transition: .5s all ease;
}

.card:hover {
  transform:rotateX(60deg) translateY(15%) scale(0.9);
  transition: opacity 1s;
  height:  31.488vmin;
  width: 22.837vmin;
  transition: .5s all ease;
  z-index: 1;
  position:relative;
}

.card_reveal {
  height:  31.488vmin;
  width: 22.837vmin;
  transform: rotateX(60deg) scale(0.9); 
  transition: .5s all ease;
  z-index: 1;
  position:relative;
}

.card_reveal:hover {
  cursor: pointer;
  height:  31.488vmin;
  width: 22.837vmin;
  transform: rotate(0deg) scale(1.5);
  transition: .5s all ease;
  z-index: 10;
  position:relative;
}

.rotate{
  animation: rotate 1s infinite; 
  position:relative;
  z-index: 10;
}

@keyframes rotate{
  to{ transform: rotateY(360deg) scale(1.5);  }
}

.shuffle{
  overflow: clip;
  height:  31.488vmin;
  width: 22.837vmin;
  transform: rotateX(60deg) translateY(-50%) scale(0.9); 
  transition: .5s all ease;
  position:relative;
  opacity: 0;
}

.scroll {
  perspective: 900px;
  transition: .5s all ease;
}

