*{
	font-family:Microsoft JhengHei;
}

.card {
  height:  31.488vmin;
  width: 22.837vmin;
}

.card:hover {
}

H1 {
	font-size: 6vmin;
}

#background {
  background-color: black !important;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 1;
}

.foreground {
  color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translate(0%,-50%);
  transform: translate(0%,-50%);
}

#status {
	color: white !important;
	font-size: 4vmin;
	text-decoration: none;
	background: transparent;
	padding: 1.5vmin;
	border: 2px solid white !important;
	display: inline-block;
	transition: all 0.4s ease 0s;
}

li {
  display: inline-block;
}
